html,
body {
  padding: 0;
  margin: 0;
}

section {
  padding: 50px;
}

.task-one::before {
  content: "Once upon a time ...";
}

.task-one::after {
  content: "...The end";
}

.task-two {
  padding-top: 15em;
  text-align: center;
  background: no-repeat center url(./assets/beach.jpg);
  background-size: cover;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  height: 300px;
  overflow: auto;
}

.task-three {
  background: no-repeat center url(./assets/smiley.jpg);
  height: 300px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
