html,
body {
  padding: 0;
  margin: 0;
}

section {
  margin: 120px;
}

.task-one::before {
  content: "Once upon a time ...";
}

.task-one::after {
  content: "...The end";
}

.task-two {
  background: url(./assets/beach.jpg) no-repeat center;
  clip-path: polygon(50% 0%, 100% 0%, 50% 100%, 0% 50%);
  height: 300px;
  overflow: auto;
}
